/*animacion link */
div > a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }

    a.subraya {
      color: #2EFEC8;
  }
    a.subraya:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color:#2EFEC8;
    content: "";
    transition: width 0.2s;
  }
    a.subraya:hover {
    color: #2E2E2E;
  }
    a.subraya:hover:after{
    width: 100%;
  }
  .col-sm-2{
    margin-left: 40px;  
    margin-right: 60px; 
  }
  #descripcion{
    color: #2E2E2E;
    margin-left: 20px;  
    margin-right: 60px; 
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #cccccc;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #cccccc;
  }
  .banner{
    background: #B404AE;
    text-align: center;
    -webkit-box-shadow: 0px -20px 46px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -20px 46px 15px rgba(0,0,0,0.75);
    box-shadow: 0px -20px 46px 15px rgba(0,0,0,0.75);
  }
  div.row{
      margin-right: 0px;
  }

  #iniciarsesion{
      text-align:end;
  }
  #texto{
      color:#2EFEC8;
  }

